head {
    display: none;
}

body {
  display: block;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
  overflow: scroll;
}


header {
    width: 100%;
    letter-spacing: .05em;

    font-style: normal;
    padding: 1em 1em 1em 1em;
    box-sizing: border-box;
    display: block;
    cursor: default;
    top: 0;
    height: 10vh;
}

a {
  color: #2d2d2a;
  text-decoration: none;
}

.headerLogo {
  display: inline;
  font-size: 6vh;
  font-weight: 200;
}

.headerMenu{
  float: right;
  font-size: 2.2vh;
  font-weight: 200;
  padding-top: 0.5em;
}


.headerMenu a:hover{
  text-decoration: underline;
}

.mainContainer {
  display: grid;
	grid-gap: 2.5em;
	grid-template-columns: 1fr 1fr [last];
	text-align: center;
	padding: 4em 5em 4em 5em;
  position: relative;
  height: 70vh;
}


h1 {
  color: #2d2d2a;
  font-size: 10vh;
  font-weight: 600;
  line-height: 0vh;
  font-family: 'Poppins', sans-serif;
}

h2 {
  color: #c29e9e;
  font-size: 4vh;
  font-weight: 100;
  line-height: 0vh;
  font-family: 'Poppins', sans-serif;
}

h3 {
  color: #2d2d2a;
  font-size: 4vh;
  font-weight: 400;
  line-height: 0vh;
  font-family: 'Poppins', sans-serif;
}

h4 {
  color: #2d2d2a;
  font-size: 2vh;
  font-weight: 100;
  font-family: 'Poppins', sans-serif;
}

h5 {
  color: #2d2d2a;
  font-size: 4vh;
  font-weight: 100;
  font-family: 'Herr Von Muellerhoff', sans-serif;
  text-align: left;
  margin: 0 0 0 0;
}

p {
  color: #2d2d2a;
  font-size: 2vh;
  font-weight: 100;
  font-family: 'Poppins', sans-serif;
}

.textLeft{
    text-align: left;
}

.paragraph{
  padding: 0 0 0 0;
}

.roleContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.imageContainer{
  position: relative;
}

.aboutMeContainer{
  display: grid;
  grid-gap: 2.5em;
  grid-template-columns: 1fr 1fr [last];
  text-align: center;
  position: relative;
  background-color: #ece0e0;
  height:auto;
}

#aboutMeTextContainer{
  	padding: 4em 5em 4em 5em;
}


.image {
  height: 40vh;
  position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
}


.photoContainer{
    background-image: url('resources/maja.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
}


footer {
    width: 100%;
    letter-spacing: .05em;
    font-style: normal;
    padding: 3em 1em 3em 1em;
    box-sizing: border-box;
    display: block;
    cursor: default;
    top: 0;
    height: auto;
    text-align: center;
}

.contact_img{
  height: 3vh;
  vertical-align: middle;
}

@media screen and (max-width: 920px){

  head {
      display: none;
  }

  body {
    display: block;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #ffffff;
    overflow: scroll;
  }


  header {
      width: 100%;
      letter-spacing: .05em;
      font-style: normal;
      padding: 1em 1em 1em 1em;
      box-sizing: border-box;
      display: block;
      cursor: default;
      top: 0;
      height: 10vh;
      font-family: 'Poppins', sans-serif;
  }

  a {
    color: #2d2d2a;
    text-decoration: none;
  }

  .headerLogo {
    display: inline;
    font-size: 6vh;
    font-weight: 200;
  }

  .headerMenu{
    float: right;
    font-size: 2.2vh;
    font-weight: 200;
    padding-top: 0.5em;
  }


  .headerMenu a:hover{
    text-decoration: underline;
  }

  .mainContainer {
    display: grid;
  	grid-gap: 2em;
  	grid-template-columns: 1fr [last];
  	text-align: center;
  	padding: 4em 5em 4em 5em;
    position: relative;
    height: auto;
  }


  h1 {
    color: #2d2d2a;
    font-size: 5vh;
    font-weight: 600;
    line-height: 0vh;
    font-family: 'Poppins', sans-serif;
  }

  h2 {
    color: #c29e9e;
    font-size: 3vh;
    font-weight: 100;
  }

  h3 {
    color: #2d2d2a;
    font-size: 4vh;
    font-weight: 400;
    line-height: 0vh;
    font-family: 'Poppins', sans-serif;
  }

  p {
    color: #2d2d2a;
    font-size: 2vh;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
  }

  .textLeft{
      text-align: center;
  }

  .paragraph{
    padding: 0 0 0 0;
  }

  .roleContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
  }

  .imageContainer{
    position: relative;
    height: 20vh;
  }

  .aboutMeContainer{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr  [last];
    text-align: center;
    position: relative;
    background-color: #ece0e0;
    height: auto;
  }

  #aboutMeTextContainer{
    	padding: 3em 2em 3em 2em;
  }


  .image {
    height: 100%;
    position: absolute;
  	top: 50%; left: 50%;
  	transform: translate(-50%,-50%);
  }


  .photoContainer{
      background-image: url('resources/maja.jpg');
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      background-size: cover;
      height: 50vh;
  }


  footer {
      width: 100%;
      letter-spacing: .05em;
      font-style: normal;
      padding: 3em 1em 3em 1em;
      box-sizing: border-box;
      display: block;
      cursor: default;
      top: 0;
      height: auto;
      text-align: center;
  }

  .contact_img{
    height: 3vh;
    vertical-align: middle;
  }


}


@media screen and (max-width: 460px){

  head {
      display: none;
  }

  body {
    display: block;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #ffffff;
    overflow: scroll;
  }


  header {
      width: 100%;
      letter-spacing: .05em;
      font-style: normal;
      padding: 1em 1em 1em 1em;
      box-sizing: border-box;
      display: block;
      cursor: default;
      top: 0;
      height: 10vh;
      font-family: 'Poppins', sans-serif;
  }

  a {
    color: #2d2d2a;
    text-decoration: none;
  }

  .headerLogo {
    display: inline;
    font-size: 6vh;
    font-weight: 200;
  }

  .headerMenu{
    float: left;
    font-size: 2.2vh;
    font-weight: 200;
    padding-top: 0.5em;
  }


  .headerMenu a:hover{
    text-decoration: underline;
  }

  .mainContainer {
    display: grid;
  	grid-gap: 1em;
  	grid-template-columns: 1fr [last];
  	text-align: center;
  	padding: 4em 5em 4em 5em;
    position: relative;
    height: auto;
  }


  h1 {
    color: #2d2d2a;
    font-size: 4vh;
    font-weight: 400;
    line-height: 0vh;
    font-family: 'Poppins', sans-serif;
  }

  h2 {
    color: #c29e9e;
    font-size: 2vh;
    font-weight: 100;
  }

  h3 {
    color: #2d2d2a;
    font-size: 3vh;
    font-weight: 400;
    line-height: 0vh;
    font-family: 'Poppins', sans-serif;
  }

  p {
    color: #2d2d2a;
    font-size: 2vh;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
  }

  .textLeft{
      text-align: center;
  }

  .paragraph{
    padding: 0 0 0 0;
  }

  .roleContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
  }

  .imageContainer{
    position: relative;
    height: 20vh;
  }

  .aboutMeContainer{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr  [last];
    text-align: center;
    position: relative;
    background-color: #ece0e0;
    height: auto;
  }

  #aboutMeTextContainer{
    	padding: 3em 2em 3em 2em;
  }


  .image {
    height: 100%;
    position: absolute;
  	top: 50%; left: 50%;
  	transform: translate(-50%,-50%);
  }


  .photoContainer{
      background-image: url('resources/maja.jpg');
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      background-size: cover;
      height: 50vh;
  }


  footer {
      width: 100%;
      letter-spacing: .05em;
      font-style: normal;
      padding: 3em 1em 3em 1em;
      box-sizing: border-box;
      display: block;
      cursor: default;
      top: 0;
      height: auto;
      text-align: center;
  }

  .contact_img{
    height: 3vh;
    vertical-align: middle;
  }

}
