
head {
    display: none;
}

body {
  display: block;
}

.main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #ffffff;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    font-family: "Helvetica Neue";
}

.mainContainer{
    position: relative;
    width: 100%;
    height: 100vh;

}

header {
    width: 100%;
    letter-spacing: .05em;
    font-style: normal;
    font-family: sans-serif;
    padding: 1em 1em 1em 1em;
    box-sizing: border-box;
    display: block;
    cursor: default;
    top: 0;
    height: 10vh;
}

#nameHeader a {
  cursor: pointer;
}

#start{
  font-size: 2.2vh;
  font-weight: 500;
  color: #2E2621;

}

.menuName {
  color: #9C5016;
  display: inline;
  font-size: 6vh;
  font-weight: 200;
}

.menuHeader{
    float: right;
    font-size: 2.2vh;
    font-weight: 200;
    color: #615B5D;
    padding-top: 0.5em;
}

a {
  color: #615B5D;
  text-decoration: none;
}

.menuHeader a:hover{
  text-decoration: underline;
}

.menuHeader > span {
    margin-left: 0.1em;
}

#startView{
  display: grid;
	grid-gap: 0em;
	grid-template-columns: 1fr 1fr [last];
	text-align: center;
	padding-left: 5em;
	padding-right: 5em;
  height: 80vh;

}

.img_container{
	position: relative;
}

.project_images{
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);

}
#maja_img {
  height: 50vh;
}

h1 {
  color: #9C5016;
  font-size: 6vh;
  font-weight: 200;
  text-align: left;
  line-height: 10px;
}

h2 {
  color: #615B5D;
  font-size: 2.6vh;
  font-weight: 400;
  text-align: left;
  line-height: 10px;
}

h3 {
  color: #615B5D;
  font-size: 2.2vh;
  font-weight: 200;
  text-align: left;
  line-height: 10px;
}

p {
  color: #2E2621;
  font-size: 2.2vh;
  font-weight: 400;
  text-align: left;

}

.text{
 color: #2E2621;
 margin-left: 2em;
 margin-right: 4em;
 display: flex;
 justify-content: center;
 flex-direction: column;
 }
